:root {
    --primary: #9AC5F4;
    --p2: #99DBF5;
    --p3: #A7ECEE;
    --p4: #FFEEBB;
    --text: #000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: 24px;
}

/* Fonts CSS */
.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}


body {
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    line-height: 1.6;
    display: inline-block;
    width: 100%;
    background-color: var(--primary);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header Function */
header {
    background-color: var(--p2);
    color: var(--text);
    padding: 1rem 0;
    place-content: center;
    place-items: center;
}

header img {
    width: 20%;
    cursor: pointer;
}

header .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    place-items: center;
}

header .container ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

header .container li a {
    color: var(--text);
    padding: 0.5rem;
    box-sizing: border-box;
    cursor: pointer;
}

header .container li a:hover {
    background-color: var(--p3);
    border-radius: 1rem;
}

/* Section Hero Function */
.hero {
    background-image: url('../image/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: 2rem;
}

.hero .container {
    text-align: center;
}

.hero .container h1 {
    font-size: 1.5rem;
}

.hero .container p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.hero .container a {
    color: var(--text);
    background-color: var(--p3);
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 2rem;
    cursor: pointer;
}

.hero .container a:hover {
    background-color: var(--p4);
}

/* Section Services Function */
.services {
    background-color: var(--p3);
    place-content: center;
    place-items: center;
    text-align: center;
    margin-top: 2rem;
}

.services .container h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.services .container .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.services .container .grid-item {
    background-color: var(--p2);
    padding: 1.2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.services h3, p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.services label {
    display: block;
    margin: 1rem 0 0.5rem;
}

.services select, .services option,
.services input[type="text"] {
    width: 60%;
    padding: 0.5rem;
    border: 0.1rem solid var(--p4);
    border-radius: 2rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    text-align: center;
    background-color: var(--p3);
    cursor: pointer;
}

.services select:hover, .services input[type="text"]:hover {
    background-color: var(--p4);
}

.services .row {
    margin-top: 2rem;
}

.services button {
    background-color: var(--p4);
    width: 30%;
    padding: 0.5em;
    box-sizing: border-box;
    border: 0.2rem solid var(--p2);
    cursor: pointer;
    border-radius: 0.5rem;
    transition: border-color 0.3s;
    box-sizing: border-box;
    margin-bottom: 2rem;
}

.services button:active {
    background-color: var(--p2);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Footer Function */
footer {
    background-color: var(--p3);
    place-content: center;
    place-items: center;
    text-align: center;
    margin-top: 2rem;
}

footer a {
    color: var(--text);
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 2rem;
    margin: 1rem auto;
    display: inline-block;
    box-sizing: border-box;
}

footer a:hover {
    background-color: var(--p4);
}

footer p {
    font-size: 1rem;
    margin-bottom: 2rem;
}

/* Media Queries */
/* Mobile Devices (Portrait) */
@media (max-width: 480px) {
    html {
        font-size: 80%;
    }
    header img {
        width: 50%;
    }
    .hero .container h1 {
        font-size: 2rem;
    }
    .hero .container p {
        font-size: 1.5rem;
    }
    .hero .container a {
        font-size: 1.5rem;
    }
    .services .container h2 {
        font-size: 2rem;
    }
    .services .container h3 {
        font-size: 1.7rem;
    }
    .services .container p {
        font-size: 1.5rem;
    }
    .services label {
        font-size: 1.5rem;
    }
    .services select, .services option, .services input[type="text"] {
        font-size: 1.4rem;
    }
    .services button {
        font-size: 1.5rem;
    }
    footer a {
        font-size: 1.5rem;
    }
    footer p {
        font-size: 1.6rem;
    }
}

/* Small Mobile Devices (Landscape) */
@media (min-width: 481px) and (max-width: 600px) {
    html {
        font-size: 80%;
    }
    header img {
        width: 50%;
    }
    .hero .container h1 {
        font-size: 2rem;
    }
    .hero .container p {
        font-size: 1.5rem;
    }
    .hero .container a {
        font-size: 1.5rem;
    }
    .services .container h2 {
        font-size: 2rem;
    }
    .services .container h3 {
        font-size: 1.7rem;
    }
    .services .container p {
        font-size: 1.5rem;
    }
    .services label {
        font-size: 1.5rem;
    }
    .services select, .services option, .services input[type="text"] {
        font-size: 1.4rem;
    }
    footer a {
        font-size: 1.5rem;
    }
    footer p {
        font-size: 1.6rem;
    }
}

/* Small Tablets (Portrait) */
@media (min-width: 601px) and (max-width: 768px) {
    html {
        font-size: 100%;
    }
    header img {
        width: 40%;
    }
    .hero .container h1 {
        font-size: 2rem;
    }
    .hero .container p {
        font-size: 1.5rem;
    }
    .hero .container a {
        font-size: 1.5rem;
    }
    .services .container h2 {
        font-size: 2rem;
    }
    .services .container h3 {
        font-size: 1.7rem;
    }
    .services .container p {
        font-size: 1.5rem;
    }
    .services label {
        font-size: 1.5rem;
    }
    .services select, .services option, .services input[type="text"] {
        font-size: 1.4rem;
    }
    footer a {
        font-size: 1.5rem;
    }
    footer p {
        font-size: 1.6rem;
    }
}

/* Large Tablets (Landscape) */
@media (min-width: 769px) and (max-width: 1024px) {
    html {
        font-size: 100%;
    }
    header img {
        width: 30%;
    }
    .hero .container h1 {
        font-size: 2rem;
    }
    .hero .container p {
        font-size: 1.5rem;
    }
    .hero .container a {
        font-size: 1.5rem;
    }
    .services .container h2 {
        font-size: 2rem;
    }
    .services .container h3 {
        font-size: 1.7rem;
    }
    .services .container p {
        font-size: 1.5rem;
    }
    .services label {
        font-size: 1.5rem;
    }
    .services select, .services option, .services input, .services input[type="text"] {
        font-size: 1.4rem;
        width: 100%;
    }
    .services button {
        font-size: 1.5rem;
        width: 100%;
    }
    footer a {
        font-size: 1.5rem;
    }
    footer p {
        font-size: 1.4rem;
    }
}

/* Small Desktops and Laptops */
@media (min-width: 1025px) and (max-width: 1280px) {
    html {
        font-size: 100%;
    }
    header img {
        width: 30%;
    }
    .hero .container h1 {
        font-size: 2rem;
    }
    .hero .container p {
        font-size: 1.5rem;
    }
    .hero .container a {
        font-size: 1.5rem;
    }
    .services .container h2 {
        font-size: 2rem;
    }
    .services .container h3 {
        font-size: 1.7rem;
    }
    .services .container p {
        font-size: 1.5rem;
    }
    .services label {
        font-size: 1.5rem;
    }
    .services select, .services option, .services input[type="text"] {
        font-size: 1.4rem;
    }
    footer a {
        font-size: 1.5rem;
    }
    footer p {
        font-size: 1.6rem;
    }
}

/* Large Desktops and High-Resolution Screens */
@media (min-width: 1281px) {
    html {
        font-size: 100%;
    }
    header img {
        width: 20%;
    }
    .hero .container h1 {
        font-size: 2rem;
    }
    .hero .container p {
        font-size: 1.5rem;
    }
    .hero .container a {
        font-size: 1.5rem;
    }
    .services .container h2 {
        font-size: 2rem;
    }
    .services .container h3 {
        font-size: 1.7rem;
    }
    .services .container p {
        font-size: 1.5rem;
    }
    .services label {
        font-size: 1.5rem;
    }
    .services select, .services option, .services input[type="text"] {
        font-size: 1.4rem;
    }
    footer a {
        font-size: 1.5rem;
    }
    footer p {
        font-size: 1.6rem;
    }
}

/* Extra-Large Desktops */
@media (min-width: 1441px) {
    html {
        font-size: 100%;
    }
}